{% extends 'base.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AdminBundle/Resources/public/css/index.css'  output="bundles/admin/css/index.css" %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body%}
    Hello {{ name }}!

    <div class="t"></div>
{% endblock %}
